@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

body {
  background-color: #ff9450;
}
.cont {
  padding-right: 0px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.temperature {
  background-color: #fff;
  padding: 50px;
  width: 500px;
  height: 300px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 50px rgba(215, 44, 0, 0.5);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

input {
  width: 150px;
  padding: 10%;
  margin-top: 16px;
  height: 50px;
  border-radius: 5px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-indent: 15px;
}

input:focus {
  border-color: #ff4b3f;
}
